@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
@import 'css/fontawesome/css/font-awesome.css';

:root {
  --fontFamily: "Commissioner", sans-serif;
  --border-radius: 20px;
  --grad-one: linear-gradient(#2e60a0, #f89e35);
  --grad-two: linear-gradient(#8c5264, #998e90);
  --layout-width: 750px;
}

body {
  margin: 20px auto;
  background: #fff;
  font-family: var(--fontFamily);
}

.header {
  overflow: hidden;
  background-color: #ffffff;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}

.header .header_logo {
  width: 200px;
  height: 50px;
  padding: 0px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
div.scrollmenu a.active {
  background-color: dodgerblue;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.nav {
  width: var(--layout-width);
  margin: auto;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.nav button {
  border: none;
  background: #111122;
  color: white;
  font-size: 0.9em;
  padding: 0.8em 1.2em;
  border-radius: var(--border-radius);
  margin: 1em 5px;
  opacity: 0.85;
  transition: all 0.25s;
  cursor: pointer;
}

.nav button:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.nav button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transform: translateY(0px);
}

.nav button:focus {
  outline: none;
}

.cardNumber {
  color: #1d1a1a;
  display: flex;
  justify-content: center;
}

.categoryCls{
  cursor: pointer;
}