.card {
  margin: 10px auto;
  background: var(--grad-one);
  height: 450px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  /* animated interactivity */
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

/* when card is clicked adding .side class */
.side {
  background: var(--grad-two);
  transform: rotateY(-180deg);
}

/* card content */
.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  padding-top: 5rem;
  height: 100%;
}

.card .front {
  transform: rotateY(0deg);
}

.card.side .front {
  opacity: 0;
  display: none;
}

.card .back {
  transform: rotateY(180deg);
}

.card small {
  opacity: 0.7;
  font-size: 0.7em;
  position: absolute;
  top: 3rem;
}

.card.side small {
  transform: rotateY(180deg);
}

.card small span {
  display: block;
  text-align: center;
  font-size: small;
}

.loading {
  color: #941e1e;
  width: 350px;
  text-align: center;
  margin: 20px auto;
}

.nav .circleCls {
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 0.0625rem solid #d9dde8;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}